*DS_Store*
*svn/*
*/*svn/*
*/*/*svn/*
*/*/*/*svn/*
*/*/*/*/*svn/*
*.cache
*.log
*.o
*~
Makefile
confdefs.h
conftest*
src/config.h
config.h
stamp-h*
src/stamp-h*
*deps/*.*o
*/*deps/*.*o
*/*/*deps/*.*o
*/*/*/*deps/*.*o
*.status
libtool
po/Makefile
po/Makefile.in
po/Makevars
po/POTFILES
_stdint.h
*.dirstamp
tmpwrk*/*
*(Autosaved)*
*.userprefs
*.layout
